<!DOCTYPE html>
<html>
    <head>

            <style>
                    html{
                        display: flex !important;
                        align-items: center!important;
                        justify-content: center!important;
                    }
                    form{
                        margin-top:50%;
                    }
                </style>
           <link rel = "stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <title>ToDo</title>
    </head>
    <body>
           <form method="POST" action={% url 'ToDoAction' %}>
                {% csrf_token %}
                {{form}}       
        </form> 
        <table class = "table table-hover">
                {%for i in Tasks%}
                <tr><td><li><a href="/delete/{{i.id}}">{{i.aToDo}}</a></li></td></tr>
                {%endfor%}

        </table>
        
    </body>
</html>